<head>
    <title>Maplestory Daily Checklist</title>
    <script src="angular.min.js"></script>
    <script src="lodash.min.js"></script>
    <script src="moment.min.js"></script>
    <script src="moment-duration-format.js"></script>
    <script src="Sortable.min.js"></script>
    <script src="angular-legacy-sortable.js"></script>
    <script src="main.js.es6"></script>
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="app" ng-controller="MainController as vm">
    <h3>Current time: {{vm.momentNow()}}</h3>
    <h3>Next daily reset: {{vm.momentNextDailyReset()}}</h3>
    <h3>Next weekly reset: {{vm.momentNextWeeklyReset()}}</h3>
    <br/>
    <h4>Daily tasks&nbsp;&nbsp;<span class="small-link-button" ng-click="vm.resetDailyTaskOrder()">reset order</span></h4>
    <div ng-sortable="vm.sortableConfigDaily">
        <div ng-repeat="task in vm.dailyTasks" ng-class="vm.getChecked(task.id) ? 'checked-item' : ''">
            <span class="sortable-handle cursor-pointer noselect">&#9776;</span>
            <input type="checkbox" class="cursor-pointer" ng-if="vm.getChecked(task.id)" ng-model="vm.trueGetterSetter"
    ng-model-options=" {getterSetter: true }" ng-click="vm.doCheck(task.id)"/>
            <input type="checkbox" class="cursor-pointer" ng-if="!vm.getChecked(task.id)" ng-model="vm.falseGetterSetter"
    ng-model-options=" {getterSetter: true }" ng-click="vm.doCheck(task.id)"/>
            <span class="cursor-pointer" ng-click="vm.doCheck(task.id)">{{task.friendlyName}}</span>
            <span class="small-link-button grayish-text noselect" ng-click="vm.hideTask(task.id)">hide</span>
            <span class="small-link-button grayish-text noselect" ng-if="task.isCustom" ng-click="vm.deleteCustomTask(task.id)">delete</span>
        </div>
    </div>
    <br/>
    <h4>Weekly tasks&nbsp;&nbsp;<span class="small-link-button" ng-click="vm.resetWeeklyTaskOrder()">reset order</span></h4>
    <div ng-sortable="vm.sortableConfigWeekly">
        <div ng-repeat="task in vm.weeklyTasks" ng-class="vm.getChecked(task.id) ? 'checked-item' : ''">
            <span class="sortable-handle cursor-pointer noselect">&#9776;</span>
            <input type="checkbox" class="cursor-pointer" ng-if="vm.getChecked(task.id)" ng-model="vm.trueGetterSetter"
    ng-model-options=" {getterSetter: true }" ng-click="vm.doCheck(task.id)"/>
            <input type="checkbox" class="cursor-pointer" ng-if="!vm.getChecked(task.id)" ng-model="vm.falseGetterSetter"
    ng-model-options=" {getterSetter: true }" ng-click="vm.doCheck(task.id)"/>
            <span class="cursor-pointer" ng-click="vm.doCheck(task.id)">{{task.friendlyName}}</span>
            <span class="small-link-button grayish-text noselect" ng-click="vm.hideTask(task.id)">hide</span>
            <span class="small-link-button grayish-text noselect" ng-if="task.isCustom" ng-click="vm.deleteCustomTask(task.id)">delete</span>
        </div>
    </div>
    <br/>
    <br/>
    <div>
        <span>Add a custom task:&nbsp;</span>
        <form ng-submit="vm.addCustomTask()">
            <input type="text" placeholder="Task name" ng-model="vm.customTaskInput"/>
            <select ng-options="option.name for option in vm.customTaskDropdownOptions track by option.id" ng-model="vm.customTaskDropdownSelectedType"></select>
            <button>Add</button>
        </form>
    </div>
    <div ng-if="vm.hiddenTasks.length > 0">
        <br/>
        <h4>Hidden tasks</h4>
        <div ng-sortable="vm.sortableConfigWeekly">
            <div ng-repeat="task in vm.hiddenTasks" class="hidden-task">
                <span class="cursor-pointer" ng-click="vm.showTask(task.id)">{{task.friendlyName}}</span>
                <span class="small-link-button grayish-text noselect" ng-if="task.isCustom" ng-click="vm.deleteCustomTask(task.id)">delete</span>
            </div>
        </div>
    </div>
</body>
