.cursor-pointer {
    cursor: pointer;
}

.checked-item {
    background-color: #C8E6C9;
}

.sortable-ghost {
    opacity: 0.2;
    background-color: #cccccc;
}

.small-link-button {
    font-size: 0.8em;
    color: #0288D1;
    cursor: pointer;
}

.grayish-text {
    color: #aaaaaa;
}

.hidden-task {
    color: #888888;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.sortable-handle {
    padding-left: 4px;
    padding-right: 4px;
}
