.charname {
    display: inline-block;
}

body {
    padding: 15px;
}

.rarityblock {
    padding-bottom: 25px;
}

.operatorlist {
    display: flex;
    flex-wrap: wrap;
}

.operator {
    width: 200px;
}

.block {
    padding-bottom:15px;
}

.card {
    padding: 15px;
}

.mb {
    margin-bottom: 15px;
}

.flexh {
    display: flex;
    flex-direction: row;
}

.flexh > * {
    margin-left: 15px;
}

.flexh > *:nth-child(1) {
    margin-left: 0;
}

.form-select {
    width: auto !important;
}

.flex1 {
    flex: 1;
}

.flex0 {
    flex: 0;
}