<head>
    <title>MHW Speedrun Thumbnail Generator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="huebee.pkgd.min.js"></script>
    <script src="lodash.min.js"></script>
    <script src="FileSaver.min.js"></script>
    <script src="dom-to-image.min.js"></script>
    <script src="main.js"></script>
    <link href="styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,500,700,800|Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="huebee.css">
</head>
<body ng-app="app" ng-controller="MyController as vm">
    <div class="flexv">
        <div class="header">MHW Speedrun Thumbnail Generator</div>
        <div class="spacer"></div>
        <div class="canvas-outside">
            <div id="canvas-inside" class="canvas-inside flexv" ng-style="vm.getBgStyle()">
                <div class="flex1"></div>
                <div class="monster-image-container">
                    <img class="monster-image" ng-src="{{vm.monsters[vm.selectedMonster]}}"></img>
                </div>
                <div class="flex1"></div>
                <div class="info-container flexh">
                    <img class="weapon-image" ng-src="{{vm.weapons[vm.selectedWeapon]}}"></img>
                    <div class="timetext" ng-style="vm.getColorStyle(vm.selectedTimeColorType, vm.timeColor, vm.timeColor2)">{{vm.timeText}}</div>
                    <div>
                        <div class="tatext" ng-if="vm.selectedRunCategory > 0" ng-style="vm.getColorStyle(vm.selectedCatColor, vm.catColor, vm.catColor2)">TA</div>
                        <div ng-if="vm.selectedRunCategory == 2" ng-style="vm.getColorStyle(vm.selectedClawColor, vm.clawColor, vm.clawColor2)" class="clawtext">+Claw</div>
                    </div>
                </div>
                <div class="flex1"></div>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="mauto"><button ng-click="vm.download()">Download</button></div>
        <div class="spacer"></div>
        <div class="mauto config-row flexh">
            <div>Weapon</div>
            <div class="hspacersm"></div>
            <select class="select" ng-model="vm.selectedWeapon">
                <option ng-repeat="(key, value) in vm.weapons" value="{{key}}">{{key}}</option>
            </select>
            <div class="hspacerxsm"></div>
            <button ng-click="vm.prevWeapon()"><</button>
            <div class="hspacerxsm"></div>
            <button ng-click="vm.nextWeapon()">></button>
        </div>
        <div class="mauto config-row flexh">
            <div>Monster</div>
            <div class="hspacersm"></div>
            <select class="select" ng-model="vm.selectedMonster">
                <option ng-repeat="(key, value) in vm.monsters" value="{{key}}">{{key}}</option>
            </select>
            <div class="hspacerxsm"></div>
            <button ng-click="vm.prevMonster()"><</button>
            <div class="hspacerxsm"></div>
            <button ng-click="vm.nextMonster()">></button>
        </div>
        <div class="mauto config-row flexh">
            <div>Time</div>
            <div class="hspacersm"></div>
            <input class="time-input" placeholder="1'23&quot;45" type="text" ng-model="vm.timeText"></input>
        </div>
        <div class="mauto config-row flexh">
            <div>Run category</div>
            <div class="hspacersm"></div>
            <select class="select" ng-model="vm.selectedRunCategory">
                <option value="0">Non TA</option>
                <option value="1">TA</option>
                <option value="2">TA + Claw</option>
            </select>
        </div>
        <div class="mauto config-row flexh">
            <div>Background color</div>
            <div class="hspacersm"></div>
            <select class="select" ng-model="vm.selectedBgType">
                <option value="0">Single</option>
                <option value="1">Gradient V.</option>
                <option value="2">Gradient H.</option>
            </select>
            <div class="hspacerxsm"></div>
            <input class="bg-color-input" ng-model="vm.bgColor" data-huebee />
            <div class="hspacerxsm"></div>
            <input class="bg-color-input2" ng-show="vm.selectedBgType > 0" ng-model="vm.bgColor2" data-huebee />
        </div>
        <div class="mauto config-row flexh">
            <div>Time text color</div>
            <div class="hspacersm"></div>
            <select class="select" ng-model="vm.selectedTimeColorType">
                <option value="0">Single</option>
                <option value="1">Gradient</option>
            </select>
            <div class="hspacerxsm"></div>
            <input class="time-color-input" ng-model="vm.timeColor" data-huebee />
            <div class="hspacerxsm"></div>
            <input class="time-color-input2" ng-show="vm.selectedTimeColorType > 0" ng-model="vm.timeColor2" data-huebee />
        </div>
        <div class="mauto config-row flexh">
            <div>Category text color</div>
            <div class="hspacersm"></div>
            <select class="select" ng-model="vm.selectedCatColor">
                <option value="0">Single</option>
                <option value="1">Gradient</option>
            </select>
            <div class="hspacerxsm"></div>
            <input class="cat-color-input" ng-model="vm.catColor" data-huebee />
            <div class="hspacerxsm"></div>
            <input class="cat-color-input2" ng-show="vm.selectedCatColor > 0" ng-model="vm.catColor2" data-huebee />
        </div>
        <div class="mauto config-row flexh">
            <div>Claw text color</div>
            <div class="hspacersm"></div>
            <select class="select" ng-model="vm.selectedClawColor">
                <option value="0">Single</option>
                <option value="1">Gradient</option>
            </select>
            <div class="hspacerxsm"></div>
            <input class="claw-color-input" ng-model="vm.clawColor" data-huebee />
            <div class="hspacerxsm"></div>
            <input class="claw-color-input2" ng-show="vm.selectedClawColor > 0" ng-model="vm.clawColor2" data-huebee />
        </div>
        <div class="mauto config-row flexh">
            <div>Monster outline color</div>
            <div class="hspacersm"></div>
            <select class="select" ng-model="vm.selectedOutlineType" ng-change="vm.outlineChange()">
                <option value="0">None</option>
                <option value="1">White</option>
                <option value="2">Green</option>
                <option value="3">Purple</option>
                <option value="4">Custom</option>
            </select>
            <div class="hspacerxsm"></div>
            <input class="outline-color-input" ng-show="vm.selectedOutlineType == 4" ng-model="vm.outlineCustomColor" data-huebee />
        </div>
        <div class="spacer"></div>
        <div class="flex1"></div>
        <div class="mauto">Problems? Message <a href="https://twitter.com/stripedypaper" target="_blank">@stripedypaper</a></div>
    </div>
</body>
