<!DOCTYPE html>
<html lang="en">
<head>
    <title>Arknights Guesser</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NFH81TE3QE"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-NFH81TE3QE');
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.min.js"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-animate/1.8.3/angular-animate.min.js" integrity="sha512-Vhup4/4s+jnmiFsp1Sg1/6jXncRbIBc+fKemYjq1n+nEXthmeASyaWnClWsAV5Sas7WbLMLNYYHw6TxwQE4oPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.7.8/angular-touch.min.js" integrity="sha512-mUwY1j7oX/p8Tj8XuWKsXojSpjMV1DjkQQXNzDCUK2IsSwV/8JR+KOgxxY6EXPkgLN29gNPEuckLBz0J9EDUnQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="moment.min.js"></script>
    <script src="moment-duration-format.js"></script>
    <script src="ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="chance.min.js"></script>
    <script src="jquery.min.js"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js"></script> -->
    <script src="lodash.js"></script>
    <script src="main.js?v=1.1.25v4"></script>
    <script src="strings.js?v=1.1.25v3"></script>
    <script src="daily.js?v=1.1.25"></script>
    <link href="styles.css?v=1.1.25" rel="stylesheet"></link>
    <base href="/ak-guesser">
    <meta name="description" content="Try guessing the Arknights operator & skin from a zoomed in image.">
    <meta charset='UTF-8' />
    <link rel="shortcut icon" href="https://stripedypaper.github.io/ak-guesser/favicon.ico" />
</head>
<body ng-app="app" ng-controller="MyController as vm" id="" data-bs-theme="light">
    <div class="flexv maxh">
        <div ng-if="vm.isLoading">{{vm.translate('loadingResources')}}</div>
        <div ng-if="!vm.isLoading" class="main">
            <div class="flexh flexh2">
                <h1 class="display-4 block">{{vm.translate('arknightsGuesserTitle')}}</h1>
                <div class="flex1"></div>
                <div class="form-check form-switch mauto">
                    <input class="form-check-input" type="checkbox" ng-click="vm.toggleDarkMode()" ng-checked="vm.options.darkMode">
                    <label class="form-check-label" for="flexSwitchCheckDefault">{{vm.translate('darkMode')}}</label>
                </div>
                <div class="flexv">
                    <select class="form-select mauto" ng-change="vm.selectlanguage()" ng-model="vm.lang">
                        <option value="en_US">English</option>
                        <option value="ja_JP">日本語</option>
                        <option value="ko_KR">한국어</option>
                        <option value="zh_CN">中文</option>
                    </select>
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-secondary mauto" data-bs-toggle="modal" data-bs-target="#advanced">{{vm.translate('options')}}</button>
            </div>

            <div class="flexh block">
                <div ng-if="vm.skin">
                    <div class="skin-container" ng-style="vm.bigImageContainerStyle" ng-show="vm.gameType == 0">
                        <img draggable="false" crossorigin="anonymous" ng-show="vm.showSkin" ng-src="{{vm.skin.url}}" ng-on-load="vm.testOnLoad($event)" class="skin-image" ng-style="vm.viewPortInfo.style">
                        <img ng-show="!vm.showSkin" ng-src="https://stripedypaper.github.io/ak-guesser/loading.png" style="height: 100%">
                    </div>
                    <div class="grid" ng-style="vm.bigImageContainerStyle" ng-show="vm.gameType == 1">
                        <div class="grid-row" ng-show="vm.showSkin">
                            <div class="skin-container-xsmall" ng-style="vm.extraSmallImageContainerStyle">
                                <img draggable="false" crossorigin="anonymous" ng-show="vm.showSkin" ng-src="{{vm.skin.url}}" class="skin-image" ng-style="vm.challengeViewPortInfos[0].style">
                            </div>
                            <div class="skin-container-xsmall" ng-style="vm.extraSmallImageContainerStyle">
                                <img draggable="false" crossorigin="anonymous" ng-show="vm.showSkin && vm.challengeStep >= 1" ng-src="{{vm.skin.url}}" class="skin-image" ng-style="vm.challengeViewPortInfos[1].style">
                                <img class="unrevealed" ng-show="vm.challengeStep <= 1" ng-src="https://stripedypaper.github.io/ak-guesser/image/unrevealed1.png" style="height: 100%">
                            </div>
                            <div class="skin-container-xsmall" ng-style="vm.extraSmallImageContainerStyle">
                                <img draggable="false" crossorigin="anonymous" ng-show="vm.showSkin && vm.challengeStep >= 1" ng-src="{{vm.skin.url}}" class="skin-image" ng-style="vm.challengeViewPortInfos[2].style">
                                <img class="unrevealed" ng-show="vm.challengeStep <= 1" ng-src="https://stripedypaper.github.io/ak-guesser/image/unrevealed3.png" style="height: 100%">
                            </div>
                        </div>
                        <div class="grid-row" ng-show="vm.showSkin">
                            <div class="skin-container-xsmall" ng-style="vm.extraSmallImageContainerStyle">
                                <img draggable="false" crossorigin="anonymous" ng-show="vm.showSkin && vm.challengeStep >= 2" ng-src="{{vm.skin.url}}" class="skin-image" ng-style="vm.challengeViewPortInfos[3].style">
                                <img class="unrevealed" ng-show="vm.challengeStep <= 2" ng-src="https://stripedypaper.github.io/ak-guesser/image/unrevealed4.png" style="height: 100%">
                            </div>
                            <div class="skin-container-xsmall" ng-style="vm.extraSmallImageContainerStyle">
                                <img draggable="false" crossorigin="anonymous" ng-show="vm.showSkin && vm.challengeStep >= 2" ng-src="{{vm.skin.url}}" class="skin-image" ng-style="vm.challengeViewPortInfos[4].style">
                                <img class="unrevealed" ng-show="vm.challengeStep <= 2" ng-src="https://stripedypaper.github.io/ak-guesser/image/unrevealed2.png" style="height: 100%">
                            </div>
                            <div class="skin-container-xsmall" ng-style="vm.extraSmallImageContainerStyle">
                                <img draggable="false" crossorigin="anonymous" ng-show="vm.showSkin && vm.challengeStep >= 3" ng-src="{{vm.skin.url}}" class="skin-image" ng-style="vm.challengeViewPortInfos[5].style">
                                <img class="unrevealed" ng-show="vm.challengeStep <= 2" ng-src="https://stripedypaper.github.io/ak-guesser/image/unrevealed5.png" style="height: 100%">
                            </div>
                        </div>
                        <div class="grid-row" ng-show="vm.showSkin">
                            <div class="skin-container-xsmall" ng-style="vm.extraSmallImageContainerStyle">
                                <img draggable="false" crossorigin="anonymous" ng-show="vm.showSkin && vm.challengeStep >= 3" ng-src="{{vm.skin.url}}" class="skin-image" ng-style="vm.challengeViewPortInfos[6].style">
                                <img class="unrevealed" ng-show="vm.challengeStep <= 3" ng-src="https://stripedypaper.github.io/ak-guesser/image/unrevealed6.png" style="height: 100%">
                            </div>
                            <div class="skin-container-xsmall" ng-style="vm.extraSmallImageContainerStyle">
                                <img draggable="false" crossorigin="anonymous" ng-show="vm.showSkin && vm.challengeStep >= 3" ng-src="{{vm.skin.url}}" class="skin-image" ng-style="vm.challengeViewPortInfos[7].style">
                                <img class="unrevealed" ng-show="vm.challengeStep <= 3" ng-src="https://stripedypaper.github.io/ak-guesser/image/unrevealed7.png" style="height: 100%">
                            </div>
                            <div class="skin-container-xsmall" ng-style="vm.extraSmallImageContainerStyle">
                                <img draggable="false" crossorigin="anonymous" ng-show="vm.showSkin && vm.challengeStep >= 4" ng-src="{{vm.skin.url}}" class="skin-image" ng-style="vm.challengeViewPortInfos[8].style">
                                <img class="unrevealed" ng-show="vm.challengeStep <= 4" ng-src="https://stripedypaper.github.io/ak-guesser/image/unrevealed8.png" style="height: 100%">
                            </div>
                        </div>
                        <img ng-show="!vm.showSkin" ng-src="https://stripedypaper.github.io/ak-guesser/loading.png" style="height: 100%; border: 1px solid black;">
                    </div>
                </div>
                <div class="flex1 flexv">
                    <div ng-show="vm.skin" class="block show-mobile">
                        <input type="text" ng-disabled="vm.getStatus() == 0" ng-model="vm.skinInput" placeholder="{{vm.translate('guessTheOperator')}}" uib-typeahead="skin.searchableName for skin in vm.skins | filter:vm.typeAheadFilter($viewValue) | orderBy:vm.typeAheadOrderBy($viewValue) | limitTo:8" typeahead-on-select="vm.selectSkin($item)" class="form-control">
                    </div>
                    <div class="flexh">
                        <div ng-if="vm.skin" class="form-group flex1 hide-mobile">
                            <input type="text" ng-disabled="vm.getStatus() == 0" ng-model="vm.skinInput" placeholder="{{vm.translate('guessTheOperator')}}" uib-typeahead="skin.searchableName for skin in vm.skins | filter:vm.typeAheadFilter($viewValue) | orderBy:vm.typeAheadOrderBy($viewValue) | limitTo:8" typeahead-on-select="vm.selectSkin($item)" class="form-control">
                        </div>
                        <button type="button" class="btn btn-secondary" ng-click="vm.showMore()" ng-if="vm.skin && vm.gameType == 0" ng-disabled="vm.viewPortInfo.zoomStep == 4 || !vm.showSkin">{{vm.translate('showMore')}}</button>
                        <button type="button" class="btn btn-secondary" ng-click="vm.showMoreChallenge()" ng-if="vm.skin && vm.gameType == 1" ng-disabled="vm.challengeStep >= 4 || vm.getStatus() == 0 || !vm.showSkin">{{vm.translate('showMore')}}</button>
                        <button type="button" class="btn btn-success" ng-if="vm.getStatus() == 0" ng-click="vm.test(true, 1)">{{vm.getDailyButtonText()}}</button>
                        <button type="button" class="btn btn-primary" ng-if="vm.getStatus() == 0 || vm.gameType == 0" ng-click="vm.test(true, 0)">{{vm.getNextImageText()}}</button>
                        <button type="button" class="btn btn-primary" ng-if="vm.getStatus() == 1 && vm.gameType == 1" ng-click="vm.challengeStop(true)">{{vm.translate('giveUp')}}</button>
                    </div>
                    <div class="flex1"></div>
                    <div>
                        <div ng-if="vm.previousSkin">
                            <div class="block align-right">
                                <div ng-if="vm.gameType == 0">{{vm.translate('previousImage')}}</div>
                                <div>{{vm.previousSkin.searchableName}}</div>
                                <div>{{vm.previousScore}}</div>
                            </div>
                            <div class="flexh">
                                <div class="flex1"></div>
                                <div class="skin-container-small" ng-if="vm.previousViewPortInfo" ng-style="vm.smallImageContainerStyle">
                                    <img ng-src="{{vm.previousSkin.url}}" class="skin-image" ng-style="vm.previousViewPortInfo.style">
                                </div>
                                <div class="skin-container-small" ng-style="vm.smallImageContainerStyle">
                                    <img ng-src="{{vm.previousSkin.url}}" class="skin-image-small">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="vm.skin">
                <div class="block" ng-if="vm.gameType == 0">
                    <div ng-hide="vm.getStatus() == 0">{{vm.translate('scoreIncreaseIfGuessed')}}: {{vm.scoreIfGuessed}}</div>
                    <div>{{vm.translate('currentScore')}}: {{vm.score}}</div>
                    <div ng-hide="vm.options.endless">{{vm.translate('timeRemaining')}}: {{vm.getTimeText()}}</div>
                </div>
                <div class="block" ng-if="vm.gameType == 1 && vm.getStatus() == 1">
                    <div>{{vm.translate('guessesLeft')}}: {{5-vm.challengeStep}}</div>
                </div>
                <div ng-if="vm.gameType == 1 && vm.getStatus() == 0">
                    <div ng-if="vm.dailyShareText"><pre><samp>{{vm.dailyShareText}}</samp></pre></div>
                    <button ng-if="vm.dailyShareText" type="button" class="btn btn-outline-primary" ng-click="vm.clickShareButton()">{{vm.translate('copy')}}</button>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="advanced" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xs">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{vm.translate('options')}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="block">{{vm.translate('optionsDesc1')}}</div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" ng-model="vm.options.enableE0" ng-disabled="vm.getStatus() != 0" ng-checked="vm.options.enableE0" ng-click="vm.toggleArt(0)">
                                <label class="form-check-label" for="flexSwitchCheckDefault">{{vm.translate('enableOperatorE0Art')}}</label>
                            </div>

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" ng-model="vm.options.enableE2" ng-disabled="vm.getStatus() != 0" ng-checked="vm.options.enableE2" ng-click="vm.toggleArt(1)">
                                <label class="form-check-label" for="flexSwitchCheckDefault">{{vm.translate('enableOperatorE2Art')}}</label>
                            </div>

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" ng-model="vm.options.enableSkin" ng-disabled="vm.getStatus() != 0" ng-checked="vm.options.enableSkin" ng-click="vm.toggleArt(2)">
                                <label class="form-check-label" for="flexSwitchCheckDefault">{{vm.translate('enableOperatorSkinArt')}}</label>
                            </div>

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" ng-model="vm.options.endless" ng-disabled="vm.getStatus() != 0" ng-checked="vm.options.endless">
                                <label class="form-check-label" for="flexSwitchCheckDefault">{{vm.translate('endlessMode')}}</label>
                            </div>

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" ng-model="vm.options.enableBadZoomCheck" ng-checked="vm.options.enableBadZoomCheck">
                                <label class="form-check-label" for="flexSwitchCheckDefault">{{vm.translate('avoidBadZoomOption')}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <canvas id="canvas" width="32" height="32" style="width: 128px; height: 128px; border:1px solid; display:none"></canvas>
        <canvas id="canvas2" width="32" height="32" style="width: 128px; height: 128px; border:1px solid; display:none"></canvas>
        <div class="flexh">
            <div class="flex1" style="margin-top:auto">
                <div class="small">Thanks to <a target="blank" href="https://github.com/Kengxxiao/ArknightsGameData">ArknightsGameData</a> and <a target="blank" href="https://github.com/ArknightsAssets/ArknightsAssets">ArknightsAssets</a> for game resources</a></div>
                <div class="small">Contribute translations <a target="blank" href="https://github.com/stripedypaper/stripedypaper.github.io/blob/master/ak-guesser/README.md">here</a></div>
                <div class="small">Created by <a target="blank" href="https://twitter.com/boardwalkhotel_">@boardwalkhotel_</a></div>
            </div>
            <!-- <a href="ak-guesser/" target="_self">
                <img src="https://stripedypaper.github.io/ak-guesser/image/sticker2.png" style="height:64px">
            </a> -->
            <a href="ak-guesser/enemy" target="_self">
                <img src="https://stripedypaper.github.io/ak-guesser/image/sticker1.png" style="height:64px">
            </a>
            <a href="ak-guesser/skill" target="_self">
                <img src="https://stripedypaper.github.io/ak-guesser/image/sticker4.png" style="height:64px">
            </a>
        </div>
    </div>
</div>
</body>
</html>
