html,
body,
.maxh {
    height: 100%
}

.align-right {
    text-align: right;
}

.charname {
    width: 175px;
}

.main {
    flex: 1;
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

.stagename {
    display: inline-block;
}

.mauto {
    margin: auto;
}

body {
    padding: 15px;
}

.rarityblock {
    padding-bottom: 25px;
}

.operatorlist {
    display: flex;
    flex-wrap: wrap;
}

.operator {
    display: flex;
    flex-direction: row;
}

.block {
    padding-bottom: 15px;
}

.card {
    padding: 15px;
}

.mb {
    margin-bottom: 15px;
}

.flexh {
    display: flex;
    flex-direction: row;
}

.flexh>* {
    margin-left: 8px;
}

.flexh>*:nth-child(1) {
    margin-left: 0;
}

.flexv {
    display: flex;
    flex-direction: column;
}

.form-select {
    width: auto !important;
}

.flex1 {
    flex: 1;
}

.flex0 {
    flex: 0;
}

.operator-avatar {
    width: 32px;
    height: 32px;

    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */

    background: #ddd;
    margin-bottom: 2px;
}

.operator-name {
    margin-top: auto;
    margin-bottom: auto;
}

.option-outer {
    margin-bottom: 4px;
}

.option-text {
    margin: auto;
}

.btn-sm {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

.dangerlevel {
    font-size: 12px;
    background: #C65342;
    margin-left: 5px;
    color: white;
    padding: 0 5px;
}

.skin-container {
    height: 600px;
    width: 600px;
    border: 1px solid black;
    overflow: hidden;
    margin: auto;
}

.skin-container-small {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    overflow: hidden;
    display: flex
}

.skin-image {
    position: relative;
    pointer-events: none;
}

.enemy-image {
    height: 316px;
    width: 316px;
    margin: auto;
}

.loading-image {
    
}

.skin-image-small {
    max-height: 300px;
    max-width: 300px;
    margin: auto
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #337ab7;
}

.dropdown-menu>.disabled>a,
.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
    color: #777777;
}

.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: not-allowed;
}

.open>.dropdown-menu {
    display: block;
}

.open>a {
    outline: 0;
}

.dropdown-menu-right {
    left: auto;
    right: 0;
}

.dropdown-menu-left {
    left: 0;
    right: auto;
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777777;
    white-space: nowrap;
}

.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990;
}

@media(max-width: 500px) {}

@media only screen and (max-width: 1000px) {
    .show-mobile {
        display: block;
    }

    .hide-mobile {
        display: none;
    }
}

@media only screen and (min-width: 1001px) {
    .show-mobile {
        display: none;
    }

    .hide-mobile {
        display: block;
    }
}

.hint {
    padding: 8px;
    font-size: small;
}
