@media screen and (min-width: 1180px) {
    .content-wrapper {
        padding: 3em 8em;
    }
    
    .content-area {
        width: 100% !important;
    }
    
    .sidebar-widget-area {
        width: 0 !important;
    }
}

.submenu {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
}

.submenu div {
    flex: 1;
    display: flex;
}

.submenu div a {
    padding: 16px 4px;
    text-align: center;
	  margin: auto;
    width: 100%;
    color: white;
    font-weight: 500;
}

.submenu div a:hover {
    color: white;
}

.shaded {
    border-bottom: 2px solid rgba(0,0,0,.15);
}

.submenu-1 {
    background-color: #64B5F6;
}

.submenu-2 {
    background-color: #9575CD;
}

.submenu-3 {
    background-color: #90A4AE;
}

.submenu-4 {
    background-color: #4DB6AC;
}

.submenu-5 {
    background-color: #e57373;
}

.submenu-6 {
    background-color: #81C784;
}

.submenu-7 {
    background-color: #9575CD;
}

.submenu-unavailable {
    opacity: .5;
}

.clickable {
    cursor: pointer;
}

.page-title {
    text-align: center;
    font-size: 36px;
}

.spacer {
    height: 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.spacer-big {
    background-color:#f25f70;
    border-bottom:2px solid rgba(0,0,0,.15);
    height: 6px;
    width: 100%;
    margin-top: 72px;
    margin-bottom: 24px;
}

.spacer-small {
    height: 6px;
    width: 100%;
    margin-top: 48px;
    margin-bottom: 24px;
}

.page-id-350 .entry-title, .page-id-342 .entry-title, .page-id-130 .entry-title, .page-id-15 .entry-title, .page-id-561 .entry-title, .page-id-574 .entry-title, .page-id-832 .entry-title {
    display: none;
}

summary {
    cursor: pointer;
    color: #e1122a;
}

summary::selection { background: transparent; }

.details-inside {
    box-shadow: inset 0 2px 1px rgba(0,0,0,.05);
    -webkit-box-shadow: inset 0 2px 1px rgba(0,0,0,.05);
    background: #f6f6f6;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0px;
    padding:10px;
}

.back-to-top {
    font-size: 13px;
    float: right;
}

.offset-id {
    margin-top:-40px;
    padding-top:40px;
}

.guide-video-outer {
    display: flex;
}

.guide-video-inner {
    margin: auto;
    width: 720px;
}

.guide-video-inner > .jetpack-video-wrapper {
    margin-bottom: 0;
}

.guide-video-caption {
    margin-top: -1px;
    background: black;
    color: white;
    font-size: 18px;
    padding: 6px;
    text-align: center;
    margin-bottom: 25px;
    display:flex;
    flex-direction: column;
}

.guide-video-caption > br {
    display: none;
}

.input-caption > .cwhite {
    color: white;
}

.input-caption > .cps4 {
    color: #64B5F6;
}

.input-caption > .cxb {
    color: #AED581;
}

.input-caption > .cpc {
    color: #B39DDB;
}

.input-caption > span {
    padding-right: 15px;
    color: #ccc;
}

.input-caption > span:last-child {
    padding-right: 0;
}

.bottom-caption {
    padding-top: 13px;
}

.pfix > p, .guide-video-inner > p {
    margin:0;
}

ul > ul {
    margin-bottom: 0;
}

.post-832 > .entry-content {
        max-width: 720px;
      margin: auto;
}
