<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="lodash.min.js"></script>
    <script src="main.js"></script>
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="app" ng-controller="MyController as vm">
    <div class="container">
        <div class="row" ng-repeat="row in vm.grid">
            <div class="pixel" ng-repeat="pix in row">
                a
            </div>
        </div>
    </div>
    <p>FPS: {{vm.fps}}</p>
    <p>Frame: {{vm.curFrame}}</p>
</body>
